<!DOCTYPE html>
<html data-ng-app="YoutubeDJ">
<head>
    <meta charset="utf-8">
    <title>Youtube DJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body data-ng-controller="VideosController">
    <header>
        <div class='container-fluid'>
            <div class='col-sm-3'>
                <h1>Youtube <strong>DJ</strong></h1>
            </div>
            <div class='col-sm-6'>
                <form id="search" data-ng-submit="search()">
                    <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query" class="form-control">
                    <div class='row'>
                        <input id="submit" type="image" src="search.png" alt="Search">
                    </div>
            </div>
            <div class='col-sm-3'>
                </form>
                <nav>
                    <a id="play">{{ youtube.state }}</a>
                    <a id="pause">Pause</a>
                </nav>
            </div>
    </header>
    <div id="results" class='col-xs-12 col-sm-6'>
        <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
            <img class="video-image" data-ng-src="{{ video.thumbnail }}">
            <p class="video-title">{{ video.title }}</p>
            <p class="video-author">{{ video.author }}</p>
            <p class="video-description">{{ video.description }}</p>
        </div>
    </div>
    <div class='col-xs-12 col-sm-6 right-video'>
        <div id="player">
            <div id="placeholder"></div>
        </div>
        <div id="playlist">
            <p id="current">{{ youtube.videoTitle }}</p>
            <ol id="upcoming" data-ng-show="playlist">
                <li data-ng-repeat="video in upcoming">
                    <p class="item-delete" data-ng-click="delete(upcoming, video.id)">delete</p>
                    <p class="item-title" data-ng-click="launch(video.id, video.title)">{{video.title}}</p>
                </li>
            </ol>
            <ol id="history" data-ng-hide="playlist">
                <li data-ng-repeat="video in history">
                    <p class="item-delete" data-ng-click="delete(history, video.id)">delete</p>
                    <p class="item-title" data-ng-click="queue(video.id, video.title)">{{video.title}}</p>
                </li>
            </ol>
            <p id="tabs">
                <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
                <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
            </p>
        </div>
    </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="app.js"></script>
</body>
</html>